body{
    font-family: Roboto, sans-serif;
    background-color: #1f2937;
}

a, .hero_text {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 16px;
    display: flex;
    gap: 18px;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    padding: 0px;
}

.header_logo {
    font-size: 24px;
    color: #f9faf8;
}

/* Hero styles */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

.hero_title, .hero_text{
    flex-wrap: wrap;
    max-width: 600px;
}

.hero_title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900px;
    margin-bottom: 1px;
}

.hero_text {
    font-size: 18px;
    margin-top: 10px;
}

.hero_button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Info styles */

.information-container {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 52px;
}

.info_title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.info {
    max-width: 200px;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9faf8;
    padding: 50px;
    gap: 40px;
}

/* Quote styles */

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    gap: 8px;
    padding: 50px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    text-align: center;
    max-width: 900px;
    font-style: italic;
}

.quote_author{
    font-weight: bold;
    margin-left: 400px;
    font-size: 16px;
}